*{
    box-sizing: border-box;
}
h1{
    text-align: center;
    background-color: aqua;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
}

.container{
    background-color: rgb(158, 177, 214);
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 4px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 15px;
}
fieldset{
    background-color: #fff;
    border: 1px solid #ccc;
}
input[type="submit"]{
    border: none;
    background-color: rgb(142, 189, 32);
    padding: 5px 5px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: chocolate;
}