*{
    box-sizing: content-box;
}

.banner{
    background-image: url(../img/logo1.gif);
    height: 20vw;
    min-height: 100px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: top center;


}
nav{
    display: flex;
    background-color: #333;
    align-items: center;
}
nav .menubtn{
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    text-align: center;
}
nav .menubtn:hover {
    background-color: #ddd;
    color: black;
  }
  main {
    flex: 100%;
    /* Set the width of the main content */
    background-color: white;
    /* White background color */
  }
  section:nth-child(even) {
    background-color: #f7f7f7;
  }
  


section h2{
    text-align: center;
    margin-top: 100px;
}
iframe{
    padding: 0px 10px;
     
}
.one{
    padding-left: 50px;
}
/*section{
    overflow: hidden;
}*/
video{
    padding: 0px 5px;
    
}
.two{
    padding-left: 50px;
}

.three1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
  }
  .profile_name{
      font-size: 2em;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 4px;
      word-spacing: 10px;
      margin: 40px 0px 30px 0px;
  }
  .social{
      display: block;
      text-align: center;
      
  }
  .facebook{
      border-radius: 10px;
      padding: 5px 10px;
      color: white;
      text-decoration: none;
      background-color: dimgrey;
  }
  .instagram{
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    background-color: dimgrey;
  }
.lite:hover{
     background-color: aqua;
     color: chocolate;
}



  p{
      text-align: center;
  }
  footer {
    display: flex;
    overflow: hidden;
    /* Hide overflow */
    background-color: black;
    /* Dark background color */
  }
  
  footer a {
    float: left;
    /* Make sure that the links stay side-by-side */
    display: block;
    /* Change the display to block, for responsive reasons (see below) */
    color: white;
    /* White text color */
    text-align: center;
    /* Center the text */
    padding: 14px 20px;
    /* Add some padding */
    text-decoration: none;
    /* Remove underline */
  }
  
  .carousel-cell {
    width: 66%;
    margin-right: 10px;
    border-radius: 5px;
  }
  .carousel iframe{
      width: 100%;
  }
  .carousel video{
    width: 100%;
}
.carousel a{
    width: 100%;
}
span{
    background-color: goldenrod;
    color: white;
    border-radius: 20px;
    padding: 20px 50px;
    margin-bottom: 20px;
}